<h2>Liste de produits</h2>
<h4>Nombre d'articles dans le panier : {{ nombre }} articles</h4>
<h4>Total : {{ total }} €</h4>

<section>
    <article>
        <div class="row">
            <!-- <ng-container *ngFor="let produit of produits"> {{ produit | json }}
            </ng-container> -->
            <ng-container *ngFor="let produit of produits">
                <div class="col-md-4 col-sm-6">
                    <div class="card-deck">
                        <app-produit [produit]='produit' (message)='afficherTotal($event)'></app-produit>
                    </div>
                </div>
            </ng-container>
        </div>
    </article>
</section>

<!-- <div>
    <a [routerLink]='["/produits"]' class="btn btn-outline-danger retour"><i class="fas fa-arrow-circle-left"></i> Retour</a>
</div> -->

