<footer>
    <div class="banner-footer">
        <ul>
            <li>
                <i class="fas fa-phone-alt"></i>
                <p class="bold">Conseil & vente</p>
                <p>0 805 80 00 85</p>
            </li>
            <li>
                <i class="fas fa-undo-alt"></i>
                <p class="bold">Retours gratuits</p>
                <p>pendant 14 jours</p>
            </li>
            <li>
                <i class="fas fa-truck"></i>
                <p class="bold">Livraison gratuite</p>
                <p>A partir de 60€ d'achat</p>
            </li>
        </ul>    
    </div>

    <div class="licence">
        <img src="./assets/separation.png" alt="Séparation feuilles" style="width: 200px" >
        <p><span class="pink bold">© La Petite Maison Bio - 2020 -</span> Dev by Marina LB</p>
    </div>
</footer>