<div class="container-fluid produit">
    
    <div class="row">
        <div class="col-sm-6 fiche">
            <h3>{{ produit.nom }}</h3>
            <div>
                <img src="./assets/imagesProduit/{{ produit.image }}"  alt="image produit" class="img-thumbnail">
            </div>
        </div>

        <div class="col-sm-6 align-middle fiche">
            <div class="description">
                <h5>Description du produit:</h5>
                <p>{{ produit.description }} </p>
            </div>
            <div class="categorie">
                <p>{{ produit.categorie }}</p>
            </div>
            <div class="prix">
                <h5> Prix TTC : {{ produit.prixTTCunit }} €</h5> 
            </div>
            <div class="quantite">
                <label>Choisir la quantité :</label>
                <input type="number" [(ngModel)]=quantite min="1" max="{{ produit.quantiteEnStock }}">
                <!-- <div *ngIf=" produit.quantiteEnStock "> 
                    <p class="wanted">* La quantité que vous avez saisi n'est pas disponible</p>
                </div> -->
            </div>
            <div>
                <button class="btn btn-success" (click)="ajouterPanier()"> 
                    <i class="fas fa-shopping-bag"></i> Ajouter au panier
                </button>
                <button class="btn btn-outline-danger" (click)="supprimerProduitPanier()">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>


</div>