<div class="container-fluid">

    <h2 class="dark-green">Partie Administrateur <i class="fas fa-leaf"></i></h2>

    <h3 >Ajouter un produit </h3>
    <form #addProduitForm=ngForm (ngSubmit)=ajouterProduit()>
        <div class="form-group">
            <label>Nom du produit : </label>
            <input type="text" name="nom" class="form-control" [(ngModel)]=produit.nom required #nom="ngModel">
        </div>
        <div class="wanted" [hidden]="nom.valid || nom.pristine">
            <p>* Le nom du produit est obligatoire </p>
        </div>
        <!-- <div class="form-group" >
            <label for="categorie">Catégorie du produit : </label>
            <input type="text" name="categorie" class="form-control" [(ngModel)]=produit.categorie required #categorie="ngModel"> -->
            <!-- <select class="form-control" [(ngModel)]=produit.categorie required #categorie="ngModel"> 
                <option name="categorie" value="cuisine">Dans la cuisine</option>
                <option name="categorie" value="salledebain">Dans la salle de bain</option>
                <option name="categorie" value="balade">En balade</option>
                <option name="categorie" value="cosmetiques">Les cosmétiques</option>
            </select> -->
        <!-- </div> -->
        <!-- <div class="wanted">
            <p>* La catégorie du produit est obligatoire </p>
        </div> -->
        <div class="form-group">
            <label>Description : </label>
            <textarea name="description" class="form-control" [(ngModel)]=produit.description required #description="ngModel"></textarea>
        </div>
        <div class="wanted" [hidden]="description.valid || description.pristine">
            <p>* La description du produit est obligatoire </p>
        </div>
        <div class="form-group">
            <label>Prix TTC Unitaire : </label>
            <input type="number" name="prixTTCunit" class="form-control" [(ngModel)]=produit.prixTTCunit required #prix="ngModel">
        </div>
        <div class="wanted" [hidden]="prix.valid || prix.pristine">
            <p>* Le prix TTC unit du produit est obligatoire </p>
        </div>
        <div class="form-group">
            <label>Quantité en stock : </label>
            <input type="number" name="quantiteEnStock" class="form-control" [(ngModel)]=produit.quantiteEnStock required #quantite="ngModel">
        </div>
        <div class="wanted" [hidden]="quantite.valid || quantite.pristine">
            <p>* La quantité du produit est obligatoire </p>
        </div>
        <div class="form-group">
            <label>Image : </label>
            <input type="text" name="image" class="form-control" [(ngModel)]=produit.image required #image="ngModel">
        </div>
        <div class="wanted" [hidden]="image.valid || image.pristine">
            <p>* L'image du produit est obligatoire </p>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-danger" [disabled]=addProduitForm.invalid>Ajouter <i class="fas fa-save"></i></button>
        </div>
    </form>

    <h3>Modifier les produits :</h3>
    <!-- <ul>
        <li *ngFor="let produit of produits">
            <p>Nom: {{ produit.nom }}</p>
            <p>Catégorie : {{ produit.categorie }}</p>
            <p>Description : {{ produit.description }}</p>
            <p>Prix TTC unit : {{ produit.prixTTCunit }} €</p>
            <p>Quantité en stock : {{ produit.quantiteEnStock }}</p>
            <p>Image : </p>
            <img src="../assets/imagesProduit/{{ produit.image }}" alt="image du produit" style="width: 20%;">
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Modifier <i class="fas fa-edit"></i></button>
                <button class="btn btn-outline-danger" type="submit">Supprimer <i class="fas fa-trash-alt"></i></button>
            </div>
        </li>
    </ul> -->

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="table-danger">
                    <th scope="col">Nom</th>
                    <!-- <th scope="col">Catégorie</th> -->
                    <th scope="col">Description</th>
                    <th scope="col">Prix TTC unitaire</th>
                    <th scope="col">Quantité en stock</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            
            <tbody>
                <ng-container *ngFor="let produit of produits; let i = index">
                    <tr>
                        <td>
                            <p>{{ produit.nom }}</p>
                            <input type="text" [hidden]=cachee placeholder="{{ produit.nom }}">
                        </td>
                        <!-- <td>
                            <p>{{ produit.categorie }}</p>
                            <input type="text" [hidden]=cachee placeholder="{{ produit.categorie }}">
                        </td> -->
                        <td>
                            <p>{{ produit.description }}</p>
                            <input type="text" [hidden]=cachee placeholder="{{ produit.description }}">
                        </td>
                        <td>
                            <p>{{ produit.prixTTCunit }} €</p>
                            <input type="text" [hidden]=cachee placeholder="{{ produit.prixTTCunit }} €">
                        </td>
                        <td>
                            <p>{{ produit.quantiteEnStock }}</p>
                            <input type="text" [hidden]=cachee placeholder="{{ produit.quantiteEnStock }}">
                        </td>
                        <td>
                            <img src="../assets/imagesProduit/{{ produit.image }}" alt="image du produit" style="width: 7%;">
                            <br>
                            <input type="text" [hidden]=cachee  placeholder="{{ produit.image }}">
                        </td>
                        <td>
                            <button class="btn btn-outline-success" type="submit" (click)="modifierProduit(i)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-outline-danger" type="submit" (click)="supprimerProduit(i)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    



</div>