<h3>Nos produits Zéro Déchets</h3>
<p>"La Petite Maison bio" est une boutique en ligne qui s'adresse à toutes les personnes désireuses de consommer différemment. Parce que nous croyons qu'il est possible de réduire notre impact sur l'Environnement sans se compliquer la vie, parce que nous pensons que chaque petit geste compte, nous avons décidé de rassembler tous les produits naturels, sains et écologiques que nous avons trouvé dans une même boutique, afin de les rendre accessibles à tous.</p>

<section>
    <article>

<!-- <ng-container *ngFor="let produit of produits"> -->
    <!-- <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Titre article</div>
        <div class="card-body">
            <p class="card-text">Description Article</p>
        </div>
    </div> -->
    <div class="card-deck">
        <div class="card">
          <img src="./assets/pailleInox.jpeg" class="card-img-top" alt="image du produit" style="width: 25%;">
          <div class="card-body">
            <h5 class="card-title">Titre Article</h5>
            <p class="card-text">Description de l'article : <br>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
              <a href="#" class="btn btn-success" role="button">En savoir plus ...</a>
          </div>
        </div>
    </div>
<!-- </ng-container> -->
    </article>
</section>