<div class="container-fluid">
    <div class="presentation">
        <h3>Nos produits Zéro Déchets</h3>
        <p>"La Petite Maison bio" est une boutique en ligne qui s'adresse à toutes les personnes désireuses de consommer différemment. Parce que nous croyons qu'il est possible de réduire notre impact sur l'Environnement sans se compliquer la vie, parce que nous pensons que chaque petit geste compte, nous avons décidé de rassembler tous les produits naturels, sains et écologiques afin de les rendre accessibles à tous.</p>
        <!-- <button class="btn btn-success"(click)="afficherProduits()">Afficher</button> -->
    </div>
    
    <section>
        <article>
            <div class="row">
                <!-- <ng-container *ngFor="let produit of produits"> {{ produit | json }}
                </ng-container> -->
                <ng-container *ngFor="let produit of produits">
                    <div class="col-md-4 col-sm-6">
                        <div class="card-deck">
                            <app-produit [produit]='produit'></app-produit>
                        </div>
                    </div>
                </ng-container>
            </div>
        </article>
    </section>

    

</div>